:host {
  width: calc(370px / 7);
  display: flex;
}

:host.selected .day {
  color: #fff;
  background: #343F4B;
}

.day {
  width: 50px;
  height: 50px;
  display: flex;
  padding: 10px;
  margin: auto;
  position: relative;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.day .label {
  margin: auto;
}

.day.has-event:before {
  content: '•';
  color: red;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
