<div class="day-details">
  <div class="wrapper">
    <div class="day">{{date['day']}}</div>
    <span class="week-day">{{date['weekDay']}}</span>
  </div>

  <div class="events">
    <ul>
      <li *ngFor="let event of date['events']">{{event.title}}</li>
    </ul>
  </div>

  <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <label for="add-event"></label>
    <input type="text" name="new-event" class="add-event" placeholder="Create event" ngModel autofocus>

    <button type="submit" class="btn">+</button>
  </form>
</div>
