.day-details {
  width: 250px;
  height: 400px;
  padding: 30px;
  margin-left: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.6);
}

.wrapper {
  text-align: center;
}

.day {
  font-size: 60px;
}

.add-event {
  height: 30px;
  padding: 10px;
  margin-right: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
}

.btn {
  width: 30px;
  height: 30px;
  color: #fff;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 50%;
  background: #DC304B;
}
