<div class="calendar">
  <ul class="week-days">
    <li *ngFor="let weekDay of weekDays"
        class="week-day">
      <span class="label">{{weekDay}}</span>
    </li>
  </ul>

  <ul class="month-days">
    <app-day *ngFor="let elem of calendar.daysInMonth; let day = index"
             [day]="day + 1"
             [date]="calendar.date + '-' + (day + 1)"
             [class.selected]="isSelected(calendar.date + '-' + (day + 1))"
             (click)="setSelected(calendar.date + '-' + (day + 1))">
    </app-day>
  </ul>
</div>
