<div class="container">
  <div class="calendar">
    <header class="month">
      <span class="arrow prev"></span>
      <span>{{currentMonth.monthText}}</span>
      <span class="arrow next"></span>
    </header>

    <ul class="week-days">
      <li *ngFor="let weekDay of weekDays"
          class="week-day">
        <span class="label">{{weekDay}}</span>
      </li>
    </ul>

    <ul class="month-days">
      <app-day *ngFor="let date of calendar"
               [date]="date"
               [class.selected]="isSelected(date.fullDate)"
               (click)="setSelected(date)">
      </app-day>
    </ul>
  </div>

  <app-day-detail [date]="selectedDate"></app-day-detail>
</div>
