.container {
  display: flex;
  height: 520px;
}

.calendar {
  width: 400px;
  height: 100%;
  color: #1F2D3D;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.6);
}

.month {
  flex: 1;
  padding: 0 30px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px 20px 0 0;
  background: #5C3037;
}

.arrow {
  width: 15px;
  height: 15px;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: #fff;
  cursor: pointer;
  transform: rotate(45deg);
  transition: all .2s;
  background: transparent;
}

.arrow.prev {
  transform: rotate(-135deg);
}

.arrow.prev:hover { transform: rotate(-135deg) scale(1.1); }
.arrow.next:hover { transform: rotate(45deg) scale(1.1); }
.arrow.prev:active { transform: rotate(-135deg) scale(1); }
.arrow.next:active { transform: rotate(45deg) scale(1); }

.week-days {
  flex: 1;
  padding: 10px;
  list-style: none;
  display: flex;
}

.week-day {
  flex: 1;
  height: 50px;
  margin: 0 2.5px;
  display: flex;
  border-radius: 50%;
  color: #fff;
  background: #E27586;
}

.week-day .label {
  margin: auto;
}

.month-days {
  flex: 4.5;
  padding: 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
